<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>{{ category[0] }}</title></head>
<body>
    <h1>{{ category[0] }}</h1>
    <ul>
        {% for page in pages %}
        <li>
            <a href="{{ url_for('view_page', page_id=page[0]) }}">{{ page[1] }}</a>
            [<a href="{{ url_for('edit_page', cat_id=cat_id, page_id=page[0]) }}">수정</a>]
            [<a href="{{ url_for('delete_page', page_id=page[0]) }}">삭제</a>]
        </li>
        {% endfor %}
    </ul>
    <p><a href="{{ url_for('edit_page', cat_id=cat_id, page_id=0) }}">+ 새 문서 추가</a></p>
    <p><a href="{{ url_for('index') }}">← 목차로 돌아가기</a></p>
</body>
</html>
