{% extends "base.html" %}
{% block title %}{{ form_title }} - 별내위키{% endblock %}
{% block content %}
  <h1>{{ form_title }}</h1>
  <form method="post">
    <div class="row">
      <label>제목</label><br>
      <input name="title" type="text" value="{{ doc.title if doc else '' }}" required>
    </div>
    <div class="row">
      <label>내용</label><br>
      <textarea name="content" rows="12" style="width:100%">{{ doc.content if doc else '' }}</textarea>
    </div>
    <button class="btn primary" type="submit">저장</button>
  </form>
{% endblock %}
