
{% extends "base.html" %}
{% block content %}
<h2>활동 로그</h2>
<div class="list">
  <div class="row" style="font-weight:600;">
    <div style="width:170px;">시간(UTC)</div>
    <div style="width:220px;">사용자</div>
    <div style="width:110px;">작업</div>
    <div>대상 문서</div>
  </div>
  {% for r in rows %}
    <div class="row">
      <div style="width:170px;">{{ r.ts }}</div>
      <div style="width:220px;">{{ r.user }}</div>
      <div style="width:110px;">{{ r.action }}</div>
      <div>#{{ r.doc_id }} &nbsp; {{ r.title }}</div>
    </div>
  {% else %}
    <div class="row">로그가 없습니다.</div>
  {% endfor %}
</div>
{% endblock %}
